まずはじめに画像選択してね
<div class="choise-field">
  <ng-container *ngFor="let rows of numbers; let i = index">
    <ng-container *ngFor="let col of rows;">
      <img class="img-field" (click)="selectImage(i, col)" src="assets/imgs/global_zodiac/icon_{{i}}{{col}}.png" alt="">
    </ng-container>
  </ng-container>
</div>
