<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>

<button class="btn btn-primary" (click)="openRegister()">登録する</button>
<button class="btn btn-primary" (click)="openAuthentication()">照合する</button>

<app-register *ngIf="isOpenRegistar"></app-register>

<app-authentication *ngIf="isOpenAuthentication"></app-authentication>
