<p>
  登録するよ！
</p>

<app-choise-global-zodiac
  *ngIf="isOpenImageSelect"
  [parentData]="parentData"
  (event)="onReceiveEventFromChild($event)"></app-choise-global-zodiac>

<div
  *ngIf="!isOpenImageSelect"
>
  <button class="btn btn-primary"
    (click)="backImageSelect()">画像を再選択するよ
  </button>

  <button class="btn btn-primary"
    (click)="startCamera()">カメラを起動
  </button>

  <button class="btn btn-danger"
    (click)="stopCamera(true)">カメラを停止
  </button>

  <button class="btn btn-primary"
    (click)="takePicture()">撮影する
  </button>

  <br>

  <video id="video" #video autoplay playsinline></video>
  <canvas id="canvas" #canvas></canvas>
</div>

<button class="btn btn-primary"
        *ngIf="takenPicture"
        (click)="register()">確定！
</button>
